{%extends 'base.html'%}

{%block content%}

<h3>Access Admissions</h3>

 <body class="home" data-debug="0">
        <div class="wrapper ">
            <section id="content">
                <div class="content-view">
                    <div class="container-full ">
                        <div class="one">
                                <div class="box-site-head js-single-element "
                                data-model="{&quot;likes&quot;:55,&quot;id&quot;:38186,&quot;images&quot;:{&quot;thumbnail&quot;:&quot;submissions\/2019\/10\/5da42f4e8967d075754281.jpg&quot;},&quot;slug&quot;:&quot;laguta-laguta&quot;,&quot;title&quot;:&quot;Laguta &amp; Laguta&quot;,&quot;createdAt&quot;:1571616000,&quot;tags&quot;:[&quot;Design Agencies&quot;,&quot;Mobile &amp; Apps&quot;,&quot;Web &amp; Interactive&quot;,&quot;Flat Design&quot;,&quot;Minimal&quot;,&quot;Portfolio&quot;,&quot;Responsive Design&quot;,&quot;Black&quot;,&quot;Red&quot;,&quot;White&quot;,&quot;Gallery&quot;,&quot;GSAP Animation&quot;,&quot;UI design&quot;,&quot;Nuxt.js&quot;],&quot;type&quot;:&quot;submission&quot;}">
                                <div class="box-bg has-tablet" style="height:400px;">
                                    <a href="{{url.object.content }}">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCQJS-SIzGA1BMTb7Jm3FDxxD2iqix_iFYv5MhwZU0_PxS7omzjA&s"
                                            data-src="https://images.unsplash.com/photo-1506220926022-cc5c12acdb35?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"
                                            alt="Laguta &amp; Laguta" width="1900" height="200" class="lazy" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div>
                                <p>Moringa School Access is a Scholarship Program,
                                   which aims to make world-class technical education,
                                   possible for individuals who would otherwise not be able to access it. 
                                   This competitive scholarship program sponsors young high school graduates from disadvantaged backgrounds to attend Moringa School.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
{%endblock%}