  <header id="header">
        <div class="header-main">
            <div class="box-left">
                <div class="item bt-menu">
                    <div class="ico-menu">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
            </div>
            <div class="box-left">
                <div> <strong><a class="text-black" href="#">Register </a></strong> |
                    <strong><a class="text-black" href="#"> log in</a></strong>
                </div>
            </div>
            <a class="navbar-brand" href="#">
                <img src="/static/pic1.png">               
              </a>
        </div>
    </header>