{%extends 'base.html'%}
{% load static %}
{%block content%}

<script src="{% static 'js/send_mail.js' %}"></script>
            <!-- <section id="moringa-pathways-section"> -->
    <div class="container text-center quote_container">
            <span id="about"></span>
            <br>
            <br>
            <br>
            <br>
        <p class="quote" >Moringa is a software engineering bootcamp that aims to be the number one technical skills
            provider in Africa. Moringa School runs an Access Scholarship Program which aims to make world-class
            technical education possible for individuals who would otherwise not be able to access it.Our courses
            consist of pathways that branch into either full stack development or mobile development.</p>
    </div>
    <div class="container-fluid text-center">
        <div class="moringa-pathways">
            <img src="static/css/img/android-studio.jpg" alt="">
            <img src="static/css/img/django-logo.jpg" alt="">
            <img src="static/css/img/java-logo.jpg" alt="">
            <img src="static/css/img/python-logo.jpg" alt="">
            <img src="static/css/img/android-developers.jpg" alt="">
        </div>
    </div>
    <!-- </section> -->


    <div id="social-community" class="text-center py-4 bg-light">
        <div class="footer-container container">
            <div class="row">
                <div class="col-md-3 d-none d-md-block images-zig">
                    <span class="img-one"><img src="/home/moringa/Desktop/moringa/static/img/django.jpg" alt=""></span>
                    <span class="img-two"><img src="/home/moringa/Desktop/moringa/static/img/python.jpg" alt=""></span>
                    <span class="img-three"><img src="/home/moringa/Desktop/moringa/static/img/flask.jpg" alt=""></span>
                    <span class="img-four"><img src="/home/moringa/Desktop/moringa/static/img/angular.svg"
                            alt=""></span>
                </div>
                <div class="col-md-6 col-12">
                    <h1 class="heading">Join us!</h1>
                    <p class="paragraph">We are dedicated to providing good coding practices and
                        <br>
                        we would like you to be part of the community</p>
                    <div class="enroll-button text-center">
                        <a href="{% url 'register'%}">
                            <button class="btn btn-xl bg-green text-white"
                                style="background-color: #637c33;">Register!</button>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 d-none d-md-block images-zig">
                    <span class="img-one"><img src="static/css/img/java.jpg" alt=""></span>
                    <span class="img-two"><img src="static/css/img/spark.svg" alt=""></span>
                    <span class="img-three"><img src="static/css/img/android.jpg" alt=""></span>
                    <span class="img-four"><img src="static/css/img/javascript.jpg" alt=""></span>
                </div>
            </div>
        </div>
    </div>


    <section id="footer-social" class="bg-green">
        <div class="container">
            <h1 class="text-center" id="contact"> Contact us</h1>
        </div>
    </section>



    <footer>
        <div class="container-fluid">

            <div class="footer_nav">
                <div class="row">
                    <div class="col-md-6">
                        <p><a href="tel:+254 757 075 703"><b>General Enquiries:</b> +254 757 075 703</a></p>
                        <p><b>Email:</b> admissions.access@moringaschool.com </p>
                        <p><b>Admissions Enquiries:</b> </p>
                        <p><b>Address:</b> P.O.Box 28860-00100</p>
                        <p><b>Location:</b> Ngong Lane Plaza, Ngong Lane. Nairobi</p>
                    </div>
                    <div class="col-md-6" style="margin-left: -5px;">
                        <p><a href="https://moringaschool.com/learning-model/">Learning Model</a></p>
                        
                    </div>

                </div>
            </div>
        </div>

    </footer>



    <p>here</p>

    <button style='border:2px solid darkgreen; background: white;color: darkgreen;' class="congrats">
        congratulations
    </button>






    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/defer-images.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async defer src="https://www.googletagmanager.com/gtag/js?id=UA-125823348-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-125823348-1');
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KM4VGT8');
    </script>
    <!-- End Google Tag Manager -->


    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KM4VGT8" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
</body>

</html>

{%endblock%}






























<!-- <head> 
        <link href="/static/css/main.css" rel="stylesheet">
        <link href="/static/css/home.css" rel="stylesheet">
        <link href="/static/css/slider.css" rel="stylesheet">
        <link href="/static/css/course.css" rel="stylesheet">
        <link href="/static/css/blog.css" rel="stylesheet">
        <link href="/static/css/post_view.css" rel="stylesheet">
        <link href="/static/css/media_queries.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" >
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/css/mdb.min.css" rel="stylesheet">
    </head> -->