{%extends 'base.html'%}

{%block content%}

<h3>Access Admissions</h3>

 <body class="home" data-debug="0">
        <div class="wrapper ">
            <section id="content">
                <div class="content-view">
                    <div class="container-full ">
                     
                        <div>
                                <p>Moringa School Access is a Scholarship Program,
                                   which aims to make world-class technical education,
                                   possible for individuals who would otherwise not be able to access it. 
                                   This competitive scholarship program sponsors young high school graduates from disadvantaged backgrounds to attend Moringa School.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
{%endblock%}



