{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{%block banner%}
<div id="bg-color">
    <div class="bg-img ">
        <!-- <img src="https://cdn.pixabay.com/photo/2019/05/05/22/58/spring-4181886__340.jpg" alt="" height="100px" width="100px" > -->
    </div>
{% endblock%}
{% block content %}
<br><br><br><br>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card scard" style="width: 40rem;">
        <div class="content-section ml-3 mr-3" >
            <form method="POST" action="{% url 'more' %}" enctype="multipart/form-data" >
                {% csrf_token %}
                <p><b> Would you like to know more about Moringa School? </b></p>
                {% bootstrap_form form %}
                
                <div class="form-group">
                    <button class="sbtn"  style="color: #637c33;" type="submit">Submit</button>
                </div>
            </form>
        </div>
        </div>
    </div>
<div class="col-md-3"></div>
</div>
{% endblock%}