<html lang="en" class="full-height">

 <nav class="navbar navbar-expand-md navbar-dark fixed-top mynav" id="navbar">
        <a class="navbar-brand" href="/">
            <img id="logo" src="static/img/main-logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav navbar-right ml-md-2">
                <li><a href="/">Access Program</a></li>
                </li>
            </ul>
            <ul class="navbar-nav nav navbar-right ml-auto">
                <li><a href="#about">About Us</a></li>
                <li><a href="">Login</a></li>
                <li><a href= "{% url 'register' %}">Register</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </div>
    </nav>

    <header id="home_banner_image">
        <div class="w-100 h-100" id="home_banner_image_text">

        </div>
    </header>

</html> 









<!-- <header >
    <div style="padding-top: 0%;">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top mynav" id="navbar">
      <a class="navbar-brand" href="/">
          <img id="logo" src="/static/img/main-logo.png" alt="" height="37.5px" width="90px">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav navbar-right ml-md-2">
  
  
  
              <li class="dropdown"><a href="#" class="" data-toggle="dropdown">Process <i
                          class="fa fa-chevron-down"></i></a>
                  <ul class="dropdown-menu" id="dropdown">
                      <li><a href="/programs/">Application</a></li>
  
  
                      <li><a href="/programs/data-science-course/">Computer Assesments</a></li>
  
                      <li><a href="/programs/software-development/">Final Assesments</a></li>
                  </ul>
              </li>
  
          </ul>
          <ul class="navbar-nav nav navbar-right ml-auto">
  
              <div class="box-left">
                  <div> <strong><a class="text-black" href="#">Register </a></strong> |
                      <strong><a class="text-black" href="#"> log in</a></strong>
                  </div>
              </div>
          </ul>
      </div>
  </nav>
    </div>
    <div class="loader">
      
    </div>
    -->
    <!-- <div class="view intro-2">
      <div class="full-bg-img">
        <div class="alex flex-center">
          <div class="container">
            <div class="white-text text-center wow fadeInUp">
              <h2>This is moringa Access </h2>
              <h5>When great people come together great things do happen: </h5>
              <br>
            
                 
          <div class="col-md-3" id="about2">
                      <a href="{%url 'register' %}">
              <button type="button" class="btn btn-rounded waves-effect" id="button">Registration</button>
          </a>
      </div>
  
            </div>
  
          </div>
        </div>
      </div>
    </div>
  
  </header> --> 









 <!-- <style>
   .loader{
    display: none;
  margin-left: 20px;
   width: 20px;
   height: 20px;
   border:2px solid white ;
   border-left:2px solid darkgreen ;
   border-radius:50%;
   animation: 1s spin linear infinite;
   /* animation-direction: alternate; */
 }
 @keyframes spin {
   0%{
     transform:rotate(0);
     opacity: 1px;
   }
   50%{
      opacity: 10px;
   }
   100%{
     transform: rotate(360deg);
      opacity: 1px;
   }
   
 }
 </style>