{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{%load static%}
{% block content %}

<div class="container" style="margin-top:5%;">
  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <div class="panel-heading" style="margin-left: 27%;">
              <img src="{%static 'images/MoringaLogo.png'%}" width="300px">
            </div>
          <div class="card" style="margin-top:1%; padding:20px">
              <div class="card-body">
                  
                  <h5 class="card-title"><a>Sign in to continue</a> <span style="float:right">Not a member yet? <a
                          href="{% url 'register' %}" style="color: rgb(139, 195, 74); font-weight: bold;">Register now</a></span></h5>
                  <div class="card-text">
                      <form action="" method="post" novalidate >
                          {% csrf_token%}
                          {{ form|crispy}}
                          
                          <button type="submit" class="btn btn-light-green btn-sm">Login</button>
                      </form>
                      
                  </div>
                </div>
                <div>
                <div class="col-md-2"></div>
                 <span><h5 ><a href = "{%url 'sb_admin_dashboard'%}" style="color:#626A34; font-weight: bold; margin-left:280px;">Staff Member</a></h5></span>
                 <div class="col-md-2"></div>
                </div>
          </div>


      </div>
      <div class="col-md-2"></div>
  </div>

</div>

{% endblock %}
