{%extends 'base.html'%}

{%block content%}

<div>
    {% if pending %}

    {% for i in pending %}
    <h3> {{ i.all_names}}</h3>
    {% endfor %}

    {% else %}
    <h2>There are no pending Candidates at the moment</h2>
    {% endif %}

   

</div>

<div>
    {% if accepted %}

    {% for i in accepted %}

    <h3> {{ i.all_names}}</h3>

    {% endfor %}

    {% else %}

    <h2>There are no accepted candidates at the moment</h2>

    {% endif %}

</div>


<div>
    {% if rejected %}

    {% for i in rejected %}
    <h3> {{ i.all_names}}</h3>
    {% endfor %}

    {% else %}
    <h2>There are no rejected candidates at the moment</h2>
    {% endif %}

</div>

{% endblock content%}