{%extends 'base.html'%}

{%block banner%}
<div id="bg-color">
    <div class="bg-img ">
        <!-- <img src="https://cdn.pixabay.com/photo/2019/05/05/22/58/spring-4181886__340.jpg" alt="" height="100px" width="100px" > -->
    </div>
{% endblock%}

{%block content%}
<br><br><br><br>
<div class="row">
<div class="col-md-4" >
        <h1>Pending</h1>
    {% if pending %}
    {% for i in pending %}
    <p style="font-size: 23px;"> {{ i.all_names}}</p>
    {% endfor %}

    {% else %}
    <h2>There are no pending Candidates at the moment</h2>
    {% endif %}

   

</div>

<div class="col-md-4">
        <h2>Accepted</h2>
    {% if accepted %}
    {% for i in accepted %}
    <p style="font-size: 23px;"> {{ i.all_names}}</p>
    {% endfor %}

    {% else %}
    <p style="font-size: 23px;">There are no accepted candidates at the moment</p>
    {% endif %}

</div>


<div class="col-md-4">
    <h2>Rejected</h2>
    {% if rejected %}
    {% for i in rejected %}
    <p style="font-size: 23px;"> {{ i.all_names}}</p>
    {% endfor %}

    {% else %}
    <p style="font-size: 18px;">There are no rejected candidates at the moment</p>
    {% endif %}
</div>

</div>
{% endblock content%}