<body>
    <h2>form for </h2>
    <th class="th-sm">Full names
    </th>



<!-- email=res['Email Address'] -->
        
        <h4>Please write ALL of your names.</h4>
        <h3>{{app.all_names}}</h3>
        <h4></h4>
    </body>


    <h4>What are you doing with your life right now?</h4>
    {{app.currently_doing}}
    <h4>Do you have any work, internship, and/or volunteer experience? What did you do? Which organization and/or person did you do it for</h4>
    {{app.work_experience}}
    <h4>Have you previously participated in ONE OR MORE of the following? 1) A white collar job with a company, 2) An internship with a company, 3) A project-based contract with a company, 4) Freelancing.</h4>
    {{app.participated_job_project}}
    <h4> Have you run your own business before? If so, explain what the business sold and/or what service it performed.</h4>
    {{app.run_a_business}}
    <h4>What are your career goals?</h4>
    {{app.career_goals}}
    <h4>Do you have any experience in tech? This could be work, education, volunteering, extracurricular activities in school, personal projects, etc. If so, please describe.</h4>
    {{app.experience_in_tech}}
    <h4>What is your previous programming experience? You may choose more than one answer.</h4>
    {{app.previous_experience}}