<body>
    <h2>Access  </h2>
    <th class="th-sm">Full names
    </th>
    <h4>Please write ALL of your names.</h4>
    <h3>{{app.all_names}}</h3>
    <h4>What are you doing with your life right now?</h4>
    {{app.currently_doing}}
    <h4>Do you have any work, internship, and/or volunteer experience? What did you do? Which organization and/or person
        did you do it for</h4>
    {{app.work_experience}}
    <h4>Have you previously participated in ONE OR MORE of the following? 1) A white collar job with a company, 2) An
        internship with a company, 3) A project-based contract with a company, 4) Freelancing.</h4>
    {{app.participated_job_project}}
    <h4> Have you run your own business before? If so, explain what the business sold and/or what service it performed.
    </h4>
    {{app.run_a_business}}
    <h4>What are your career goals?</h4>
    {{app.career_goals}}
    <h4>Do you have any experience in tech? This could be work, education, volunteering, extracurricular activities in
        school, personal projects, etc. If so, please describe.</h4>
    {{app.experience_in_tech}}
    <h4>What is your previous programming experience? You may choose more than one answer.</h4>
    {{app.previous_experience}}
    <h4></h4>Why do you want to learn how to program? How is programming related to your career goals?</h4>
    {{app.why_program}}
   <h4>Where did you grow up?</h4>
   {{app.where_grow_up}}
   <h4>here do you live most of the year?</h4>
   {{app.live_most_year}}
   <h4>Where do you CURRENTLY live? If you live in Nairobi, name the estate.</h4>
    {{app.currently_live}}
   <h4>How would you classify your neighborhood?</h4>
   {{app.classify_neigbourhood}}
   <h4>Who do you live with?</h4>
   {{app.live_with}}
   <h4>Who are your guardians? "Guardian" means the person who is primarily responsible for your care. Write their names and their relations to you.</h4>
   {{app.guardians}}
   <h4>Are you married or in a domestic partnership, or single?</h4>
   {{app.relationship_status}}
   <h4>'Do you have children?</h4>
   {{app.children}}
   <h4>How much money do you earn each month? Include only money you earn yourself through working. Do not include money you receive from other people.</h4>
   {{app.earnings_per_month}}
   <h4>Who is the primary person who supports you financially right now? "Primary person" means the person who provides you the greatest amount of financial support.</h4>
   {{app.primary_financier}}
   <h4>'Please list your personal monthly expenses.</h4>
   {{app.monthly_expenses}}
   <h4>'How much do your personal monthly expenses  cost in total, per month?</h4>
   {{app.monthly_expenses}}
   <h4>'Do you support anyone financially? How many people? What is their relation to you?</h4>
   {{app.support_others_financially}}
   <h4>'Have you made money before in any way? If so, what did you do?</h4>
   {{app.made_money_before}}
   <h4>'Have you or your guardian ever taken out a loan from a bank?</h4>
   {{app.taken_bank_loan}}
   <h4>Who took out the loan?</h4>
   {{app.who_took_loan}}
   <h4>How much was the loan for?</h4>
   {{app.loan_value}}
   <h4> was the loan used to pay for?</h4>
   {{app.loan_use}}
   <h4>What was used as collateral to pay the loan?</h4>
   {{app.loan_collateral}}
   <h4>How do your guardians make money? Please explain further. For example, if they sell goods, which kinds of goods do they sell and where?</h4>
   {{app.gurdians_make_money}}
   <h4>Are your guardians employed by a company? If so, what is their job title and the company name?</h4>
   {{app.gurdians_employment}}
   <h4>List the names of your guardians and write how much money they make per month. If it depends on the month, write the average.</h4>
   {{app.gurdians_earning}}
   <h4>How many people do your guardians support financially?</h4>
   {{app.gurdians_support}}
   <h4>List the names and ages of EACH of the people your guardians support financially.</h4>
   {{app.names_age_supported}}
   <h4>If the people you listed above are currently in school, write which year they are in and how much their school fees cost. How are their fees being paid for?</h4>
   {{app.shool_and_schoolfees}}
   <h4>If you are in a relationship, how does your spouse or domestic partner make money? Please explain further. For example, if they sell goods, which kinds of goods do they sell and where?</h4>
   {{app.spouse_make_money}}
   <h4>If your spouse or domestic partner is employed, what is their job title and the company name?</h4>
   {{app.spouse_employment_detail}}
   <h4>How much money does your spouse or domestic partner make per month? If it depends on the month, write the average.</h4>
   {{app.spouse_earnings}}
   <h4>Do you own a smartphone? What kind of smartphone is it? What year was it made?</h4>
   {{app.smartphone_details}}
   <h4>How did you afford your smartphone?</h4>
   {{app.afford_smartphone}}
   <h4>Do you own a laptop? What kind of laptop is it? What year was it made?</h4>
   {{app.laptop_details}}
   <h4>How did you afford your laptop?</h4>
   {{app.afford_laptop}}
   <h4>Do you or your guardians own a car? What kind of car? What year was it made?</h4>
   {{app.guardians_car}}
   <h4>What form of transport do you use most often?</h4>
   {{app.form_of_transport}}
   <h4>Do you or your guardians own the house you currently live in?</h4>
   {{app.own_house}}
   <h4>If you or your guardians own the house you currently live in, how was it financially possible to purchase the house?</h4>
   {{app.how_acquire_house}}
   <h4>If your household pays rent household pays rent, what is the cost of your household's monthly rent?</h4>
   {{app.rent_cost}}
   <h4>Please describe your home: number of rooms, construction materials (thatched roof, concrete walls, wood, mud walls, metal roof, etc.), plumbing (piped water, no piped water, flush toilet, etc), and electricity.</h4>
   {{app.home_description}}
   <h4>Were you ever sent home from high school to collect school fees? If so, how many times were you sent home?</h4>
   {{app.sent_home_schoolfees}}
   <h4>If you were sent home to collect school fees, how much time did you spend out of school in total?</h4>
   {{app.time_out_of_school}}
   <h4>How much did your school fees cost per term?</h4>
   {{app.schoolfees_per_term}}
   <h4>Did you receive financial support to pay for your school fees? If so, how much did you receive in total? Who or which organization provided this support?</h4>
   {{app.high_school_financial_support}}
   <h4>Why did you need financial support to pay for your school fees?</h4>
   {{app.why_financial_support}}
   <h4>Have you have been to university in pursuit of a bachelor's degree but did not finish, why didn't you finish?</h4>
   {{app.why_dropout}}
   <h4>If you have been to university, what did you study?</h4>
   {{app.university_name}}
   <h4>If you attended university, how much did your fees cost per term?</h4>
   {{app.university_fees}}
   <h4>If you attended university for any length of time, how did you afford the fees?</h4>
   {{app.how_afford_fees}}
   <h4>Did you receive financial support to pay for your university fees?</h4>
   {{app.financial_support_university}}
   <h4>If you received financial support for your university fees, how much did you receive in total? Who or which organization provided this support?</h4>
   {{app.who_howmuch_support_university}}
   <h4>Please tell us the story of your life. You may tell us where you grew up, what your family, friends, and community are like, what difficulties you have had to overcome, and what your hopes are for your future. If you have had challenges in your life, please explain these and how you faced them.</h4>
   {{app.story_of_your_life}}
   <h4>What medium did you use to complete this application?</h4>
   {{app.medium_complete_application}}
   <h4>How long did it take you to complete this application?</h4>
   {{app.timetaken_complete_application}}


    <style>
        body {
            margin-bottom: 20vh;
        }
    </style>
</body>
