


{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>





<script src="{% static 'js/send_mail.js' %}"></script>

<style>
    .loader {
        display: none;
        margin-left: 20px;
        width: 20px;
        height: 20px;
        border: 2px solid white;
        border-left: 2px solid darkgreen;
        border-radius: 50%;
        animation: 1s spin linear infinite;
        animation-direction: alternate;
    }


    @keyframes spin {
        0% {
            transform: rotate(0);
            opacity: 1px;
        }

        50% {
            opacity: 10px;
        }

        100% {
            transform: rotate(360deg);
            opacity: 1px;
        }

    }
</style>









<body>
<h2>FORM RESPONSES</h2>


<p>
    <table class="table table-sm">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone number</th>
            <th scope="col">age</th>
            <th scope="col">Date_of_birth</th>
            <th scope="col">Bachelors_degree</th>
            <th scope="col">Start_date</th>
            <th scope="col">Moringa student</th>
            


       
            </tr>
        </thead>
        {% for d in data %}
        <tbody>
        <tr>
        <td class="table-active">{{d.name}}</td>
        <td class="table-primary">{{d.email}}</td>
        <td class="table-dark">{{d.age}}</td>
        <td class="table-success">{{d.commitment}}</td>
        <td class="table-danger">{{d.fluency}}</td>
        <td class="table-warning">{{d.computer_literacy}}</td>
        <td class="table-info">{{d.residence}}</td>
        <td class="table-light">{{d.residence_other}}</td>
        </tr> 
        </tbody>
        {% endfor %}
    </table>

    
</p>
<p style="font-size: 20px;">Click here to send Emails to all applicants who proceed to next module
    <button class="btn btn-success" style=' border:2px solid#637C33;background-color:#637C33;color: white;' class="congrats1">
        Proceed Email
    </button>
</p>
<!-- <button style='border:2px solid darkgreen; background: white;color: darkgreen;' class="congrats1">
    congratulations1

</button> -->
    
</body>
